.Login-View {

  background-color: white;

  width: 24rem;

  margin-top: 3rem;

  padding: 1rem;

  box-shadow: 0 2px 10px 0 rgba(134,141,155,0.2);

}

.btn{
  box-shadow: 0 2px 10px 0 rgba(71, 77, 71, 0.61);



}