.update-form {

  justify-content: center;

  margin: auto;

  font-family: 'Noto Sans', sans-serif;

  border: 1px solid rgba(0,0,0,.125);

  border-radius: .25rem;

  padding:20px;

  width:50%;

}



.profile-view{

  display: flex;

  align-items: center;

  justify-content: center;

  font-family: 'Noto Sans', sans-serif;

}